#filter-btns {
    display: block;
}

.filter-btn {
    font-weight: unset;
    font-size: 0.7em;
    margin-right: 0.4em;
}

.highlight-line {
    margin-top: -100px;
    position: relative;
    display: inline;
    padding-top: 100px;
    z-index: +1;
    color: white;
}

.highlight-line::after {
    content: "";
    background-color: var(--bs-primary);
    position: relative;
    top: 0.3em;
    /*Arbitrary large number that hopefully fits an entire line. Anchoring on the left side would be preferred.*/
    width: 20000px;
    height: 1.5em;
    display: inline-block;
    bottom: 0;
    right: 0;
    left: -20000px;
    z-index: -1;
}

.code-summary {
    font-size: 0.8em;
}

.code-container {
    background-color: #1c1c1c;
    overflow: scroll;
    max-height: 500px;
    width: 100%;
}

code {
    color: #747474;
}

.warning {
    color: rgb(233, 233, 15);
}

.severe-warning,
.severe_warning {
    color: #e9a00f;
}

.error {
    color: rgb(225, 21, 21);
}

.message {
    color: white;
}

#stats-chart-root canvas {
    max-width: 800px;
    max-height: 400px;
}

.code-tag {
    display: inline-block;
    color: #737373;
    padding-right: 5px;
}

a.file-path {
    cursor: pointer;
    /* Do not underline */
    text-decoration: none;
}

.warning .file-path {
    color: rgb(142, 142, 58);
}

.error .file-path {
    color: rgb(151, 62, 58);
}

.message .file-path {
    color: rgb(138, 138, 138);
}

.box-ouu {
    position: relative;
    padding: .3rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: #25262bba;
    color: inherit;
    border-color: #f0f8ff24;
}

.source-file-title {
    display: inline;
    font-size: 1em;
    background-color: #8e8e8e8e;
    padding-left: .2em;
    padding-right: .2em;
    margin-bottom: 0;
}

.btn-expand-source-container {
    margin-top: .5em;
    display: block;
    width: 100%;
    font-size: 0.8em;
}

/* make an expand button after an empty table smaller and inline with the header row to save space */
.code-summary:empty+.btn-expand-source-container {
    width: auto;
    margin-left: 1em;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -5px;
}

.issue-row-group td:nth-of-type(1) {
    padding-left: 0px;
}

.issue-row-normal td:nth-of-type(1) {
    padding-left: 20px;
}

.issue-row-group {
    font-weight: bold;
}

.treegrid-indent {
    outline: #ffffff21 solid 1px;
    height: 4px;
    margin: 2px;
    width: 4px;
    border-radius: 2px;
}

.line-text {
    font-family: Consolas;
}

.issue-table td {
    overflow: clip;
    text-overflow: ellipsis;
    max-width: 100px;
    white-space: pre;
}

.source-file-container {
    margin-bottom: 6px;
}

/* Marker for one file. Could be a nicer rule if we introduce some more classes */
.source-file-container:not(:has(.issue-scope)) {
    font-size: 80%;
    opacity: 80%;
}

/* Hide embedded reports that only add javascript */
.embedded-report:not(:has(:not(script))) {
    display: none;
}

/* Indent tree of automation test results */
.automation-test-results details {
    padding-left: 1em;
}

.source-file-summary {
    float: left;
}